*
!README.md
!.gitignore
!libinput-gestures.conf
!user-dirs.dirs
!user-dirs.locale
!/alacritty/**
!/alacritty/
!/amfora/**
!/amfora/
!/asdf/**
!/asdf/
!/azote/**
!/azote/
!/bat/**
!/bat/
!/direnv/**
!/direnv/
!/fish/**
!/fish/
!/godot/**
!/godot/
!/gtk-2.0/**
!/gtk-2.0/
!/gtk-3.0/**
!/gtk-3.0/
!/gtk-4.0/**
!/gtk-4.0/
!/htop/**
!/htop/
!/mako/**
!/mako/
!/mutt/**
!/mutt/
!/neofetch/**
!/neofetch/
!/newsboat/**
!/newsboat/
!/nvim/**
!/nvim/
!/omf/**
!/omf/
!/sway/**
!/sway/
!/termux/**
!/termux/
!/tridactyl/**
!/tridactyl/
!/ulauncher/**
!/ulauncher/
!/vlc/**
!/vlc/
!/waybar/**
!/waybar/
!/wlogout/**
!/wlogout/
!/sh-utils/**
!/sh-utils/
!/aerc/**
!/aerc/
!/khard/**
!/khard/
!/khal/**
!/khal/
!/systemd/**
!/systemd/
/systemd/user/*.wants
!/mbsync/**
!/mbsync/
