*
!README.md
!.gitignore
!libinput-gestures.conf
!user-dirs.dirs
!user-dirs.locale
!/alacritty/**
!/alacritty/
!/amfora/**
!/amfora/
!/asdf/**
!/asdf/
!/azote/**
!/azote/
!/bat/**
!/bat/
!/direnv/**
!/direnv/
!/fish/**
!/fish/
!/godot/**
!/godot/
!/gtk-2.0/**
!/gtk-2.0/
!/gtk-3.0/**
!/gtk-3.0/
!/gtk-4.0/**
!/gtk-4.0/
!/mako/**
!/mako/
!/mutt/**
!/mutt/
!/neofetch/**
!/neofetch/
!/newsboat/**
!/newsboat/
!/nvim/**
!/nvim/
!/sway/**
!/sway/
!/swaylock/**
!/swaylock/
!/termux/**
!/termux/
!/tridactyl/**
!/tridactyl/
!/ulauncher/**
!/ulauncher/
!/vlc/**
!/vlc/
!/waybar/**
!/waybar/
!/wlogout/**
!/wlogout/
!/sh-utils/**
!/sh-utils/
!/aerc/**
!/aerc/
!/khard/**
!/khard/
!/khal/**
!/khal/
!/systemd/**
!/systemd/
/systemd/user/*.wants
!/mbsync/**
!/mbsync/
!/clojure/
!/clojure/**
!/btop/
!/btop/**
!mimeapps.list
!/ra-multiplex/
!/ra-multiplex/**
!/kanshi
!/OpenRGB
!/OpenRGB/**
!/vale
!/vale/**
!/rofi
!/rofi/**
!/yubikey-touch-detector
!/yubikey-touch-detector/**
!/notmuch
!/notmuch/**
!/ctags
!/ctags/**
!/git
!/git/**
