*
!/README.md
!/.gitignore
!/libinput-gestures.conf
!/user-dirs.dirs
!/user-dirs.locale
!/alacritty/
!/amfora/
!/asdf/
!/azote/
!/bat/
!/direnv/
!/fish/
!/godot/
!/gtk-2.0/
!/gtk-3.0/
!/gtk-4.0/
!/mako/
!/mutt/
!/neofetch/
!/newsboat/
!/nvim/
!/sway/
!/swaylock/
!/termux/
!/tridactyl/
!/ulauncher/
!/vlc/
!/waybar/
!/wlogout/
!/sh-utils/
!/aerc/
!/khard/
!/khal/
!/systemd/
/systemd/user/*.wants
!/mbsync/
!/clojure/
!/btop/
!/mimeapps.list
!/ra-multiplex/
!/kanshi
!/OpenRGB
!/vale
!/rofi
!/yubikey-touch-detector
!/notmuch
!/ctags
!/git
