[Unit]
Description=Mailbox synchronization service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/notmuch new

[Install]
WantedBy=default.target
