[Unit]
Description=Rust analyzer multiplex server

[Service]
Type=simple
ExecStart=%h/.cargo/bin/ra-multiplex server

[Install]
WantedBy=default.target
