snippet blk
//------------ $1 `!p snip.rv = (78 - 2 - 2 - 11 - len(t[1]))*'-'`
endsnippet

snippet ok
Ok(${VISUAL:val})
endsnippet

snippet err
Err(${VISUAL:err})
endsnippet

snippet some
Some(${VISUAL:val})
endsnippet
