[include]
path=config

[display]
task-item-format={}
task-item-maxlen=0
account-item-format={}
account-item-maxlen=0
duration-item-format={}
duration-item-maxlen=0
task-format=
account-format=${account} = ${duration}
pre-account-format=
pre-total-format=
total-format=Total = ${duration}
nesting-sequence-child=
nesting-sequence-parent=
nesting-sequence-total=
skip-empty-accounts=true
