**/eval
**/port.lock
**/workspace
**/idea64.vmoptions
**/options/actionSummary.xml
**/options/extensionsRootType.xml
**/options/path.macros.xml
**/options/scala.xml
**/options/jdk.table.xml
**/options/other.xml
**/options/recentProjects.xml
**/options/updates.xml
**/options/usage.statistics.xml
**/options/vim_settings.xml
**/options/window.state.xml
**/options/*statistics.xml
**/options/*local.xml
**/port
**/extensions
